<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body style="background-color:powderblue;" >
<a href="{{ url_for('home') }}" class="button-5" id="return_about_home">About</a>
<a href="{{ url_for('login') }}" class="button-5" id="return_login">Login</a>
<a href="{{ url_for('signup') }}" class="button-5" id="return_signup">Signup</a>
<h1 id="home_text" ><u> Machine Learning Models Deployment By Using Flask</u> </h1>
<div id="linear_reg"><a target="_blank" href="{{ url_for('reg_class') }}"><img src="static\files\2018-10-The-linear-regression-model.png" ></div>
<div id="image_class"><a target="_blank" href="{{ url_for('image_class') }}"><img src="static\files\Image-classification-1200-630.jpg" ></a></div>
</body>
</html>